.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    height: 60px;
    border-bottom: 2px solid #272727;

    .logo {

        width: 700px;
        margin-top: 3px;
        padding: 10px;
        font-size: 1.3rem;

        .fundo {
            background: white;
            display: flex;
            align-items: center;
            width: 134px;
            height: 40px;
        }

        img {
            margin-left: -34px;
            margin-top: 11px;
            width: 200px;
        }

    }




    .containe-ul {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .li-containe {
            display: flex;
            margin-left: 20px;

            a {
                text-decoration: none;
                display: block;
                color: rgb(255, 255, 255);
                font-size: 15.2061px;
                transition: ease-in-out 0.3s;
            }
        }
    }
}






/* Botão do menu */
.menu-btn {
    display: none; /* esconder o botão por padrão */
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }

  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8px);
  }

  .menu-btn__burger::after {
    transform: translateY(8px);
  }
