@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import "./src/styles/variables/variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
a {
    font-family: 'Poppins';
    color: $font-black;
    text-decoration: none;


}